NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=senna_bank
DB_PASSWORD=change-me
DB_DATABASE=senna_bank

GATEWAY_BASE_URL=https://gateway.example.com
GATEWAY_CLIENT_ID=change-me
GATEWAY_CLIENT_SECRET=change-me
GATEWAY_WEBHOOK_SECRET=change-me
